/* HEADER */
header{
    background-color: var(--colorAmarillo);   
    width: 100%; 
}

.encabezado{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-top: 5px;
}

nav{
    display: none;
}

ul{
    display: none;
}
/* el nav que tiene display flex, flex wrap wrap y jusitfy content space bitwin estan en tablet
ul site y user tambien*/

.compra{
    text-align: center;
    margin: 0;
}

.burger-menu {
    text-align: center;
    background-color: var(--colorCeleste);
    margin-left: 45%;
    display: inline-block;
    padding: 5px 8px;
    color: var(--colorGrisClaro);
    border-radius: 10%;
    margin-bottom: 5px;
    margin-top: 10px;
} 

.banner{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: var(--colorGrisClaro);
    text-align: center;
    align-items: center;
    justify-content: center;
}

h3{
 font-size: var(--titulares);
 text-align: left;
 margin: 20px 0;
}

.login-form{
    width: 18%;
    padding: 4px;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}

.login-formulario{
    /*text-align: center;*/
    padding: 20px;
    line-height: 25px;
    

}
.login-boton{
    display: flex;
    justify-content: center;

    font-size: medium;
    width: 20%;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
    border: none;
    border-radius: 10px;
    text-align:center;
    margin: 2%;
}

button{
    border: none;
    padding: 5px 0;
}



/* FOOTER */

footer {
    text-align: center;
    background-color: #FFF;
}

.titulofooter {
   font-weight: 500;
   margin-bottom: 0px;
   margin-top: 0px;
}

#copyright{
    text-align: left;
    font-size: 10px;
    padding-top: 20px;
    padding-left: 5px;
}