@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root{
    --colorAmarillo:#EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --tipografia : 'Roboto';
    --cuerpoDeTexto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descripcionesYdescuentos: 16px;

}


*{
    box-sizing: border-box;
}

body{
    font-family: var(--tipografia);
    margin: 0px;
    align-items: center;
    text-align: left;

}

h3{
    font-size: var(--titulares);
    color: var(--colorGrisOscuro);
}

header{
    background-color: var(--colorAmarillo);
}

ul{
    list-style: none;
    padding: 5px;
}

#p-header{
    text-align: center;
}

.burger-menu {
    text-align: center;
    background-color: var(--colorCeleste);
    margin-left: 45%;
    display: inline-block;
    padding: 5px 8px;
    color: var(--colorGrisClaro);
    border-radius: 10%;
    margin-bottom: 5px;
} 

.banner{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #D1D1D1;
}

.descripcionTotalArticulo{
    text-align: left;
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    background-color: white;
}

.articuloshome{
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 10px;
}

.articuloshome img{
    width: 100%;
}

.precio{
    font-size: var(--precios);
    margin-bottom: 0;
    
}

.descuento{ 
    font-size: var(--descripcionesYdescuentos);
    color: var(--colorVerde);
    margin-top: 0;
}

.descripcion{
    font-size: var(--descripcionesYdescuentos);
    color: var(--colorGrisOscuro);
   
}

.cuerpo{
   font-size: var(--cuerpoDeTexto);
   margin-top: 0px;
}

section i {
    color: var(--colorCeleste);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 2em;
}

section{
    align-items: center;
}


.fa-truck {
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    color: var(--colorVerde);
    padding: 5%;
    font-size: small;

}

footer {
    text-align: center;
}

.titulofooter {
   font-weight: 500;
   margin-bottom: 0px;
   margin-top: 0px;
}

#copyright{
    text-align: left;
    font-size: 10px;
    padding-top: 20px;
    padding-left: 5px;
}

/* CELULAR */
@media (max-width: 361px){

   .descripcion{
       display: none;
   }

   ul{
       display: none;
   }
}

/* TABLET */

@media (min-width: 768px){
    
    .articuloshome{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .burger-menu {
        display: none;
    }

}
